html{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  color: black;
  height: 100vh;
  font-size: 2rem;
}
.stylePage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}